.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.git
.gitignore
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
audit_errors.log
requirements.txt
